@blue: #434753;
@colorLogo: #679CBD;
@colorTitle: #5f6270;

.transition {
  transition: all .2s ease;
}

.main-page {
  height: 100vh;
  background: #F1F0F0;
  min-height: 750px;
  position: relative;
  header {
    padding: 0 15px;
    background: @blue;
    border-bottom: 3px solid #101010;
    height: 80px;
    .logo {
      background: url(../img/logo.png) no-repeat center;
      background-size: contain;
      height: 80px;
      width: 225px;
    }
  }
  section {
    padding: 0 30px;
    margin-bottom: 80px;
    .content {
      min-height: 400px;
      text-align: center;
      input {
        margin: 50px 0 0;
        width: 100%;
        height: 35px;
        font-size: 20px;
        padding: 0 5px;
        border: 2px solid #ccc;
        border-radius: 3px;
        .transition;
        &:focus {
          outline: none;
          .transition;
          border: 2px solid #83A5AE;
        }
      }
      #find-items {
        position: absolute;
        right: 10px;
        top: 57.5px;
        color: #666;
      }
      .links {
        margin-top: 50px;
        text-align: left;
        color: #bdbdbd;
        h3 {
          color: @colorTitle;
          font-size: 20px;
          margin-bottom: 5px;
        }
        a {
          color: #bdbdbd;
        }
      }
      .results {
        position: absolute;
        box-shadow: 0 4px 14px rgba(0,0,0,.5);
        max-height: 500px;
        overflow: scroll;
        overflow: overlay;
        width: 100%;
        z-index: 2;
        list-style-type: none;
        padding: 0;
        li {
          background: #dedede;
          border: 1px solid #cbcbcb;
          text-align: left;
          position: relative;
          cursor: pointer;
          .thumbnail {
            margin-bottom: 0;
            &:hover {
              h2,
              .marketValue {
                color: @colorLogo;
                .transition;
              }
            }
            img {
              position: relative;
              display: inline-block;
              vertical-align: top;
              margin-right: 10px;
              width: 150px;
              height: 150px;
              background: #cccccc;
              @media screen and (max-width: 500px){
                display: none;
              }
            }
            .title {
              display: inline-block;
              vertical-align: top;
              .nationaly {
                font-weight: bold;
                position: absolute;
                bottom: 5px;
                font-size: 16px;
                @media screen and (max-width: 500px){
                  position: relative;
                }
              }
              .marketValue {
                position: absolute;
                bottom: 5px;
                right: 25px;
              }
            }
            h2 {
              margin: 5px 0;
            }
          }
        }
      }
      .alert {
        position: absolute;
        width: 100%;
        margin-bottom: 0;
        box-shadow: 0 4px 14px rgba(0,0,0,.5);
      }
      .search {
        padding: 0;
      }
    }
  }
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: @blue;
    border-bottom: 2px solid #3a3d46;
    border-top: 2px solid #484b53;
    @media screen and (max-width: 570px){
      position: relative;
    }
    .footer-nav {
      padding: 0 15px;
      text-align: center;
      font-size: 0;
      a {
        text-transform: uppercase;
        color: #fff;
        padding: 33px 30px;
        line-height: 80px;
        text-decoration: none;
        font-size: 14px;
        .transition;
        &:hover {
          background: #5F6473;
          .transition;
        }
        @media screen and (max-width: 570px){
          display: block;
          border-bottom: 1px solid #5F6473;
          padding: 0;
          margin: 0 -15px;
        }
      }
    }
  }
}